<% if @task.errors.any? %>
  <div id="error_explanation alert alert-warning">
    <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>